<header eager-load-css="header">
    <nav>
        <a id="header-logo" href="{{ siteUrl }}">{{ "Halo Top"|t }}</a>
        <div>
            <a href="{{ siteUrl|trim('/') }}/shop-react">{{ "Shop (React)"|t }}</a>
            <a href="{{ siteUrl|trim('/') }}/shop-wc">{{ "Shop (Web Components)"|t }}</a>
            <a rel="noopener" target="_blank" href="https://jintmethod.dev/">{{ "JINT Method"|t }}</a>
            <a rel="noopener" target="_blank" href="https://github.com/Pageworks/djinnjs">{{ "DjinnJS"|t }}</a>
        </div>
    </nav>
</header>